body {
    background: #ddff84;
}
.content {
    margin: 10% auto;
    max-width: 790px;
    min-width: 460px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 0 rgba(85,85,85,0.43);
}
.sqr {
    background: white;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border-width: 2px;
    border-style: dashed;
    padding: 25px;
    margin-right: 20px;
    box-shadow: 5px 5px 0 rgba(85,85,85,0.43);
}

.line_block {
    display: inline-flex;
    vertical-align: top;
}

input#x_text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-style: none;
}

input#r_range::-webkit-slider-runnable-track {
    width: 350px;
    color: red;
}

button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    border-color: transparent;
    background-color: #46fdff;
    color: white;
    font-weight: bolder;
    font-size: 16pt;
    box-shadow: 5px 5px 0 rgba(85,85,85,0.43);
    transition-duration: 0.2s;
    width: auto;
}
button:active {
    box-shadow: 2px 2px 0 rgba(85,85,85,0.43);
    background-color: #46fdff;
    transform: translateX(3px) translateY(3px);
    transition-duration: 0.1s;
}

form#coordinates {
    margin-top: 20px;
    width: 420px;
    padding: 20px;
    background-color: #bafff8;
    border-radius: 15px;
    box-shadow: 5px 5px 0 rgba(85,85,85,0.43);
}

form#coordinates > div {
    margin-top: 20px;
}

input {
    margin-top: 2%;
}

.table {
    margin-top: 20px;
}

table#res {
    background: black;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 0 rgba(85,85,85,0.43);
}

svg > path, polygon {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

tr > .val {
    width: 2.5%;
}
